body{
  width: 100%;
  height: 100%;
  background-color: ;
  background-image: linear-gradient(225deg, rgb(252, 247, 229), rgb(236, 250, 227));
}


.Costumer, .searchTable{
  background: rgb(255, 255, 255);
  height: 300px;
  overflow-y:scroll;
  box-shadow: 0 0 11px rgba(2, 2, 2, 0.363);

}
.searchTable{
  background: rgb(250, 250, 250);
  height: 300px;
  overflow-y:scroll;
  box-shadow: 0 0 11px rgba(0,0.5,0.5,.1);

}
.main-option h5{
  justify-content: center;
  text-align: center;
  padding: 3%;
  border-radius: 10%;

  background-color: aqua;
}
.sql-form textarea{
  border: 2px solid gainsboro;
}
.NavBar{
  background-color: #08415c;
  color: whitesmoke;
  
}